<!DOCTYPE html>
<html>
  <head>
    <title>Simple Shopping Cart with Tailwind</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-100">
    <div id="app" class="container mx-auto p-8">
      <h1 class="text-3xl font-extrabold mb-6">Produits disponibles</h1>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <div
          class="bg-white p-4 rounded-lg shadow-md"
          v-for="product in products"
          :key="product"
        >
          <h2 class="text-xl font-semibold mb-2">{{product.name}}</h2>
          <p class="text-gray-600 mb-4">{{product.price}}€</p>
          <button
            @click="addToCart(product)"
            class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700"
          >
            Ajouter au panier
          </button>
        </div>
      </div>

      <h1 class="text-3xl font-extrabold mt-12 mb-6">Panier</h1>
      <ul class="bg-white p-4 rounded-lg shadow-md">
        <li
          class="flex items-center justify-between border-b py-4"
          v-for="item in cart"
          :key="item"
        >
          <span class="text-lg font-medium">{{item.name}}</span>
          <span class="text-gray-600">{{item.price}}€</span>
          <input
            v-model="item.quantity"
            type="number"
            class="w-16 text-center border rounded"
          />
          <button
            @click="removeFromCart(item.id)"
            class="text-red-500 hover:text-red-600"
          >
            Retirer
          </button>
        </li>
      </ul>
      <h2 class="text-2xl font-extrabold mt-6">Total :{{total}} €</h2>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <script>
      Vue.createApp({
        data() {
          return {
            cart: JSON.parse(localStorage.getItem("cart")) || [],
            products: [
              {
                id: 1,
                name: "lampe",
                price: 19.99,
              },
              {
                id: 2,
                name: "Airpods",
                price: 144.99,
              },
              {
                id: 3,
                name: "ordinateur portable",
                price: 199.99,
              },
              {
                id: 4,
                name: "écran tv",
                price: 300.99,
              },
              {
                id: 5,
                name: "kit de dépannage",
                price: 50,
              },
            ],
          };
        },
        computed: {
          total() {
            return this.cart
              .reduce((accumulator, currentValue) => {
                return accumulator + currentValue.price * currentValue.quantity;
              }, 0)
              .toFixed();
          },
        },
        methods: {
          addToCart(product) {
            const existingItem = this.cart.find(
              (item) => item.id === product.id
            );
            if (existingItem) {
              existingItem.quantity += 1;
            } else {
              this.cart.push({ ...product, quantity: 1 });
            }
          },
          removeFromCart(itemId) {
            const itemIndex = this.cart.findIndex((item) => item.id === itemId);
            this.cart.splice(itemIndex, 1);
          },
        },
        watch: {
          cart: {
            async handler(newCart) {
              localStorage.setItem("cart", JSON.stringify(newCart));
            },
            deep: true,
          },
        },
      }).mount("#app");
    </script>
  </body>
</html>
